*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vizitka {
  text-align: center;
  background-color: grey;
  max-width: 15rem;
  padding: 1%;
  border-radius: .5rem;
  transition: all 0.2s linear;
  /* height: 50rem; */
  margin-block: 1%;
    
}
.vizitka>* {
  max-width: 100%;
  overflow-wrap: break-word;
}


.vizitka>img {
  padding: 5%;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.vizitka h4 {
  text-transform: capitalize;
}

.vizitka:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.nastenka {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  margin-inline: 1%;
}

.tag {
  background-color: aqua;
  border-radius: 5px;
  width:max-content;
  padding: 1%;
  font-size: 11px;
  margin: 1%;
}

.tagy {
  display: flex;
  flex-wrap: wrap;
}

.bio {
  max-height: 10ch;
  display: inline-block;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
